/*
NIC DGL-203
Assignment 2c - Master Stylesheet
Author: Will Lewthwaite
Date Last Modified: 25 October, 2021
*/

/* 
    ##### Contents #####
    1. Colors
    2. Global Styles
    3. Profile
    4. Projects
    5. Work Experience
    6. Education
    7. Contact/Footer
    8. Motion Styles
    9. Grid Styles
    10. Expanding Typing Animation in Frame 1
    11. Button in Frame 2
    12. Sailboat animation in Frame 3
    13. Clouds Moving in Frame 4
    14. Responsive Styles
*/

/*
COLOR PALETTE
*** Original colors from Tutorials ***
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*** Custom Colors ***
#DAD7CD - Timberwolf
#A3B18A - Laurel Green
#588157 - Fern
#3A5A40 - Hunter
#344E41 - Brunswick
#9CB0B8 - Pewter Blue
#667AA3 - Blue Yonder
#3D4971 - RCAF Blue
#000000 - Black
#FFFFFF - White
*/

/* ##### Global styles ##### */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    color: #343434;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 1.5;
}

.project-img {
    /* Added simple transition effect on hover or tap to replace defective modal image from 1C */
    width: 300px;
    transition: width 2s, height 4s;
}

.project-img:hover {
    width: 500px;
    height: 700px;
}

.project-img2 {
    width: 300px;
}

a {
    color: #FFE66D;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 100px;
    line-height: 1;
    padding: 90px 90px 20px;
}

h2 {
    font-size: 45px;
}

h1, h2 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    margin: 0;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #A3B18A;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #DAD7CD;
    text-decoration: none;
}

.header li a:hover, .header .nav-btn:hover {
    background-color: #f4f4f4;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
}

/* Navigation & Hamburger Menu */

/* Code adapted from example found on CodePen https://codepen.io/mutedblues/pen/MmPNPG?editors=1100 
    Modified tags/classes, colors, and float to fit my page format. */

.header .top-nav {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.header .nav-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .nav-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .nav-icon .navicon:before, .header .nav-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .nav-icon .navicon:before {
    top: 5px;
}

.header .nav-icon .navicon:after {
    top: -5px;
}

/* Hamburger Button */

.header .nav-btn {
    display: none;
}

.header .nav-btn:checked~.top-nav {
    max-height: 240px;
}

.header .nav-btn:checked~.nav-icon .navicon {
    background: transparent;
}

.header .nav-btn:checked~.nav-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .nav-btn:checked~.nav-icon .navicon:after {
    transform: rotate(45deg);
}

.header .nav-btn:checked~.nav-icon:not(.steps) .navicon:before, .header .nav-btn:checked~.nav-icon:not(.steps) .navicon:after {
    top: 0;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

h3 {
    margin-bottom: 0;
}

.item-details h3+p {
    font-style: italic;
}

.item-details h3~p {
    margin: 0;
}

.divider>section {
    border-bottom: 1px dashed #343434;
    padding: 25px 0;
}

.divider>section:last-of-type {
    border-bottom: none;
}

/* ##### Profile ##### */

header {
    background: #3A5A40;
    color: #DAD7CD;
}

/* -Drop Down Navigation Code from W3 Schools Website HTML/CSS basic Drop Menu.
Modified class id names, added 4th list item, modified colors- */

.dropbtn {
    background-color: #588157;
    color: #DAD7CD;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    /*display: inline-block;*/
    float: left;
}

.dropdown-list {
    display: none;
    position: absolute;
    background-color: #A3B18A;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-list a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-list a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-list {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* ##### Projects ##### */

.projects {
    background: #DAD7CD;
}

.projects a {
    color: #2F3061
}

.projects .btn {
    color: #DAD7CD;
    background: #588157;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    display: inline-block;
}

.projects .btn:hover {
    background: rgba(47, 48, 97, 80%);
}

.project-item {
    overflow: hidden;
}

.project-item h3 {
    margin-top: 0;
}

/* ##### Work Experience ##### */

.work-experience {
    background: #A3B18A;
}

/* #### Education #### */

.education {
    background-image: url(img/sharon-mccutcheon-unsplash.jpg);
    /* For this section I kept one of the stock images from the tutorial
    because I liked the books and they went well with the color theme */
    background-size: cover;
    background-position: top right;
    padding-bottom: 100px;
}

.education p {
    width: 60%;
}

/* ##### Contact Info / Footer ##### */

footer {
    background: #344E41;
    color: #DAD7CD;
    padding: 10px;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list a {
    padding: 15px;
    display: inline-block;
}

/* ##### MOTION Styles ##### */

.klingon {
    font-size: 25px;
    color: #DAD7CD;
}

img {
    width: 100px;
}

/* ### Grid Styles ### */

.Frames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    background-color: #9CB0B8;
    padding: 10px;
}

.Frames>div {
    background-color: #3D4971;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.frame4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 2;
    overflow: hidden;
    position: relative;
}

/* ## Expanding Typing Animation in Frame 1 ## */

/* This works on page load. Refresh to see a Klingon greeting. */

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@keyframes scaleIn {
    0% {
        transform: scale(0.2);
    }
    85% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.klingon {
    /* Modified font, size and colors from tutorial example */
    font-size: 5rem;
    font-family: 'Rampart One', cursive;
    color: #e21515;
    text-shadow: 3px 3px 0px #c3a159;
    animation-name: scaleIn;
    animation-duration: 2s;
}

/* ## Button in Frame 2 ## */

/* Note: The hover effect does not work in small screens,
    however you can see the same animation by clicking on the button */

button:hover {
    cursor: pointer;
}

button {
    /*Customized colors*/
    border: 3px solid #588157;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    background: #A3B18A;
    width: 200px;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
}

button {
    transition: background .3s ease-in, transform .2s .1s ease-in-out;
    border-radius: .3s ease-in;
}

button:hover {
    /* Customized colors */
    transform: scale(1.3);
    background: #DAD7CD;
    color: #353535;
    border-radius: 20px;
}

/* #### Sailboat animation in Frame 3 #### */

/* Note: Click on boat at smaller screen sizes to activate animation. */

.boat:hover {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}

@keyframes move {
    75% {
        transform: translateX(100%);
    }
}

/* #### Clouds Moving in Frame 4 #### */

/* Clouds and UFO should move in a steady stream 5 seconds apart.
    With the speed difference, the longer you watch you will see
    the clouds seem to chase and overtake each other as the UFO flies by quickly. */

.cloud1 {
    animation: float 20s linear infinite;
}

.cloud2 {
    animation: float 25s 5s linear infinite backwards;
}

.UFO {
    animation: float 15s linear infinite;
}

@keyframes float {
    0% {
        transform: translateX(-800px);
    }
    100% {
        transform: translateX(820px);
    }
}

.sky-scraper, .cloud {
    position: absolute;
}

.sky-scraper {
    z-index: 50;
}

.cloud2 {
    top: 76px;
}

.cloud1 {
    top: 30px;
}

.UFO {
    top: 50px;
}

img.cloud {
    width: 150px;
}

img.UFO {
    width: 100px;
}

.sky-scraper img {
    width: 100%;
}

/* ### ANIMATION Styles ##### */

/* ^^^^ All SVGs drawn by me in Illustrator. Animation codes adapted from
    https://codepen.io/prabiz/pen/dQLgbW?editors=1100 and tutorial materials.
    Adapted code to use SVGs instead of links. Altered heights of SVGs*/

.porthole {
    background: #9CB0B8;
    display: grid;
    gap: 10px;
    grid-template-columns: 1.5fr 1.5fr;
}

.boat-wrap {
    background: #ace5ee;
    width: 400px;
	height: 400px;
	border-radius: 20%;
	display: flex;
    align-items: center;
    position: relative;
	overflow: hidden;
    justify-content: center;
}

.aqua {
    bottom: 0;
    left: 0;
    position: absolute;
    width: auto;
}

.aqua ul.waves {
    list-style: none;
    margin: 0;
    padding: 0;
}

.aqua ul.waves li {
    background-repeat: repeat-x;
}

.aqua ul.waves li.wave1 {
    animation: wave 8.7s linear infinite;
    -webkit-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    bottom: 0px;
    height: 85px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 10;
}

.aqua ul.waves li.wave2 {
    -webkit-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation: wave 10s linear infinite;
    bottom: 0px;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 9;
}

.aqua ul.waves li.wave3 {
    -webkit-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation: wave 25s linear infinite;
    bottom: 0;
    height: 95px;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 8;
}

.aqua ul.waves li.wave4 {
    -webkit-animation-fill-mode: backwards;
    -o-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    animation: wave 25s linear infinite;
    bottom: 0;
    height: 90px;
    left: 0;
    position: absolute;
    right: 0;
}

.tugboat {
    animation: boat 3s linear infinite;
    background-repeat: no-repeat;
    bottom: 100px;
    height: 75px;
    left: 50%;
    position: absolute;
    width: 400px;
}

.cloud3 {
    animation: cloud 30s linear infinite;
    background-repeat: no-repeat;
    height: 300px;
    left: 0;
    position: absolute;
    width: 297px;
}

.ufo2 {
    width: 100px;
    offset-path: path(auto);
    offset-rotate: auto;
    animation: fly 9s cubic-bezier(.22, 0, .76, 1) both;
}

@keyframes fly {
    0% {
        offset-distance: 0%;
    }
    100% {
        offset-distance: 100%;
    }
}

@keyframes wave {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1920px 0;
    }
}

@keyframes boat {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-3deg);
    }
    100% {
        transform: rotate(0);
    }
}

@keyframes cloud {
    0% {
        left: -30%;
    }
    100% {
        left: 100%;
    }
}

/* #### Responsive Styles #### */

@media screen and (min-width:750px) {
    header, footer {
        text-align: center;
    }
    .project-item img {
        float: left;
        margin-right: 20px;
    }
    .job-item {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 20px;
    }
    .contact-list {
        display: flex;
        justify-content: center;
    }
    .education {
        display: flex;
    }
    .header li {
        float: right;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .top-nav {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .nav-icon {
        display: none;
    }
}

@media screen and (max-width: 749px) {
    h1 {
        text-align: center;
        font-size: 75px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    }
    .project-img {
        max-width: fit-content;
    }
    .contact-list a {
        padding: 5px;
    }
    .education {
        background-image: none;
        /*Clears image at small screens for readability*/
    }
    .Frames {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .porthole{
        grid-template-columns: 1fr;
    }
    
}

/*@media screen and (max-width: 500px) {
    h1 {
        text-align: center;
        font-size: 50px;
        line-height: 0.9;
        margin-bottom: 20px;
    }
    h2 {
        line-height: 1;
    
}
.boat-wrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }*/