/*
NIC DGL 203
Assignment 2b
Student: Will Lewthwaite
Modified Date: 16 October 2021 
*/

/* Colors used
#DAD7CD - Timberwolf
#A3B18A - Laurel Green
#588157 - Fern
#3A5A40 - Hunter
#344E41 - Brunswick
*/

/* ########### Global Styles ############ */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    background-color: black;
    padding: 15px;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 25px;
    color: #DAD7CD;
}

h1 {
    font-family: 'IM Fell English SC', serif;
    font-weight: 400;
    margin: 0;
    color: #DAD7CD
}

.Frames {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    background-color: #A3B18A;
    padding: 10px;
}

.Frames>div {
    background-color: #344E41;
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
}

.frame4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.type {
    animation: typing 3s steps(27), blinking 0.5s steps(1) infinite;
}

@keyframes typing {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes blinking {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: #CE2D4F;
    }
}

/* #### Responsive Styles #### */

@media screen and (min-width:750px) {
    header, footer {
        text-align: center;
    }
}

@media screen and (max-width: 749px) {
    
    header, footer {
        text-align: center;
    }
    
    .frames {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}